[2014-11-10 23:30] doriansmiley opened #1 "Create unit tests"
Create unit tests for existing objects and update test config. Run and ensure all tests pass. You might be able to borrow some tests from lavenderJS as a starting point, for example tests against list classes.

[2014-11-10 23:32] doriansmiley opened #2 "Create Injector"
Dependency Injection

//register dependency
Lotus.Context.injector.mapObject(key, constructor, useSingleton);
//calling the mapObject function with the same element or attribute key identifier overrides any existing one and logs the override.

//get dependency
Lotus.Context.injector.inject('someKey');

[2014-11-10 23:40] doriansmiley opened #3 "Create controller map"
Control Mapping

Lotus.Context.controllerMap.mapView({component:'SomeFunction', mediator:SpiSdk.SomeMediator });
Lotus.Context.controllerMap.unmapView({component:'SomeFunction', mediator:SpiSdk.SomeMediator });

After view components have been processed by x-tag the context iterates over the view component instances stored in the Lotus.ComponentMap.componentInstances and if the component instance

[2014-11-10 23:42] doriansmiley opened #4 "Create context"
Context

Lotus.Context = function(){
//injector
//commandMapper
//eventBus
//componentMap
}

context = new Lotus.Context();

[2014-11-10 23:43] doriansmiley opened #5 "Create Command Mapper"
Bring over (including tests!) from ref app.

[2014-11-10 23:44] doriansmiley opened #6 "Create event bus"
Bring over (including tests!) from ref app.

[2014-11-18 02:57] #1 closed, assigned to nobody

[2014-11-19 01:32] #5 closed, assigned to nobody

[2014-11-19 01:32] #6 closed, assigned to nobody

[2014-11-19 01:34] doriansmiley opened #7 "Create closures for framework Objects"
Lotus.CommandMap make the following read only
this.eventFunctionMap
this.instanceMap
this.context

Lotus.ComponentMap make the following read only
this.context;
this.componentInstances ;

Lotus.Injector make the following read only
this.context
this.objectMap

[2014-11-19 02:04] doriansmiley opened #8 "Create Lotus view components from x-tag components"
IMPORTANT: this is not a priority item at this time, hence no milestone.

Create a Lotus view component class for all components founds at :http://www.x-tags.org/download. Use the Button view component as an example. Note that we only support lifecycle methods in the context, so there is a large amount of code that has to be refactored. For example accessors declared through x-tag would be redone

[2014-11-21 02:10] #2 closed, assigned to nobody

[2014-11-21 02:20] doriansmiley opened #9 "Create tests for view objects"
We need tests for
AbstractComponent.js
AbstractSingletonComponent.js
Button.js
SkinPart.js
SkinPartList.js

[2014-11-21 02:23] #3 closed, assigned to nobody

[2014-11-21 02:24] doriansmiley opened #10 "Create singleton component"
We should also expose a method to map a singleton component controller. We need an abstract base singleton controller that will be able to manage multiple component instances. It will differ slightly from a standard controller that instead of a single component reference it must use a collection.

[2014-11-21 03:02] #10 closed, assigned to doriansmiley

[2014-11-21 03:08] doriansmiley opened #11 "Explore how to cretaed nested applications"
IMPORTANT: this is not a priority item at this time, hence no milestone.

The context is effectively sand boxed so applications can in theory live side by side. However applications can not be nested at this time. This has more to do with xTag and it's parsing of the DOM than anything else. If you had applications that were nested inside each other there could be a case where the same component in

[2014-11-21 03:09] #4 closed, assigned to nobody

[2014-11-21 03:15] doriansmiley opened #12 "Create example application"
The app should effectively demonstrate the following:
Creation of a custom context
dependency injection
component mapping
creation of custom component
command mapping
creation of custom action + commands + event
Custom service implementation (remember these are registered with the injector!)
Custom parsing implementation (remember these are registered with the injector!)
Creation of a custom model

[2014-11-21 03:19] doriansmiley opened #13 "Minify framework"

[2014-11-21 03:33] doriansmiley opened #14 "Explore custom xTag build"
IMPORTANT: This is not a priority at this time.

See if there is a way to create a custom xTag build that only incorporates lifecycle functions as that is all we need. This could reduce the size of the required xTag lib.

[2014-12-12 18:41] doriansmiley opened #15 "Create command tests"
Create tests for BaseCommand and SampleCommand

[2014-12-12 19:24] #9 closed, assigned to nobody

[2014-12-12 22:30] #7 closed, assigned to nobody

[2014-12-12 22:40] #13 closed, assigned to doriansmiley

[2014-12-12 23:12] doriansmiley opened #16 "Add interceptor functions"
Allow the central event bus to define interceptor functions. The idea would be that these functions will be called before the event call back functions are executed. Consider the following interfaces signature taken from parsley:

MessageInterceptor:
http://www.spicefactory.org/parsley/docs/2.1/api/parsley-spicelib-flex/org/spicefactory/parsley/core/messaging/receiver/MessageInterceptor.html#prope

[2014-12-14 19:34] doriansmiley opened #17 "Implement command chaining"
Use promise API and wrap in calls to execute. Allow a second param in execute `callback` which is optional and overrides triggering on the promise then and error callbacks. We will need a pollyfill for Promise.

[2014-12-31 20:54] doriansmiley opened #18 "Add support for templates"
The created method of the component map should be altered to look for a src attribute on the custom tag. If found load the partial and cache. The cache key should be based on URL not object type, this allows different tag instance to use different template definitions which could be useful to achieve polymorphism in the view. Then create a shadow root from the custom tag and append the contents of

[2015-01-08 23:45] doriansmiley opened #19 "Add Support for Controllers"
ATM the component map injects the context directly to the view component. Add support for a controller constructor which will receive the view component instance along with the context, similar to RobotLegs controllers.

[2015-01-24 01:53] doriansmiley commented on #18
Added but FF and Safari are having an issue with encapsulation of DOM style. I'm not sure if this is a bug or what. Need to figure out if the polyfills work this way.

[2015-01-26 18:39] doriansmiley commented on #19
no need to this as you can map tags to controllers if you want

[2015-01-26 18:39] #19 closed

[2015-01-26 19:01] doriansmiley commented on #18
I think that is intended but I'm not sure. I don;t think there can be any style encapsulation unless the browser supports shadow DOM natively, but again, not sure.

[2015-01-26 19:06] doriansmiley commented on #18
closing as this works perfect in browsers that support web components

[2015-01-26 19:06] #18 closed

[2015-03-16 18:56] doriansmiley commented on #8
I don't see any value in this now. The frameworks have a fundamentally different approach and will require different components. People who want to use lotus can easily port the components over and refactor them.

[2015-03-16 18:56] #8 closed

[2015-03-26 17:43] doriansmiley opened #20 "Demonstrate using Meteor's reactive data objects with a collection view"
I think the best approach is to keep model collections is synch with reactive data objects. For example if we subscribed to the tasks collection as follows:
[code]
Then we could keep the model, which the collection view uses, in sync with the data source as follows
[code]
This turns traditional use of a command pattern involving services and a parser on it's head, but I think that's a good thing.

[2015-03-26 18:11] doriansmiley commented on #20
This can best be accomplished by passing a reactive data object accessed via a subscription to the component. For example, if my meteor client application subscribes to the published Tasks cursor, then you could do the following:
From the meteor app:
[code]
Then from within the component
[code]

[2015-06-26 20:34] doriansmiley commented on #12
Going to create a image gallery sample application that loads a set of images from a node service. App is started. Need to create unit tests for SampleApp.ImageGalleryItemCollectionView and SampleApp.ImageGalleryItemView. The test for SampleApp.ImageGalleryItemCollectionView can be based on the abstract record set collection view test. The test for SampleApp.ImageGalleryItemView can be ported over

[2015-06-26 20:53] doriansmiley commented on #12
Remaining tasks (put all tests in a sample app sub directory):

Add required model objects and tests

Create serialization classes (including service result parser and delegates) and tests (migrate from Hmk project). Serialization classes should have a reference to the context. They need to use the context injector to get model object instances to which they deserialize objects to, as well as obta

[2015-06-27 00:22] #15 closed

[2016-05-25 19:27] doriansmiley opened #22 "Create a package manager"
Need one tool to package components. This needs to include a manifest (package.json) that details dependencies. Not sure if we can/should just use npm or not.

Need a package installer that can install components (including dependencies) by name. Again, may just be able to use npm.

[2016-07-19 21:23] doriansmiley opened #23 "Extend HTMLButtonElement in buttons example"
Currently if I extend HTMLButtonElement the button does not show up but no errors are produced. Figure out what the issue is.

[2016-09-15 00:42] doriansmiley commented on #23
The issue is we already extend our web component base class. Try mixing in the web component base class to enable extension of HTML elements

[2016-09-15 00:47] #20 closed

[2016-09-15 00:47] doriansmiley commented on #20
use apollo for something like this

[2016-09-15 01:00] doriansmiley commented on #23
This effects all view component in:

view
example/sampleApp/js/view

We have to remove all

`Lavender.ObjectUtils.extend(Lotus.Button, SampleApp.ButtonWithMediation);`

with

`SpiSdk.ObjectUtils.mixin(Lotus.Button, SampleApp.ButtonWithMediation, this);`

which would be called in SampleApp.ButtonWithMediation constructor

We'd also have to remove the calls to the the prototype constructor methods f

[2016-09-15 01:18] doriansmiley opened #24 "Get unit tests passing"
Getting several errors with `Cannot read property 'injector' of undefined` in the sample app

[2016-09-15 17:54] doriansmiley commented on #24
tests updated and passing

[2016-09-15 17:54] #24 closed

[2016-09-16 01:33] doriansmiley opened #25 "Create mediator map"
Have the created callback in the component map call the context.mediatorMap.apply to apply mediators to web components. Remove all references to web component views as mediators.

[2016-09-16 01:35] doriansmiley commented on #23
The issue was simply passing the prototype option in the call to xTag's create method

[2016-09-16 01:36] #23 closed

[2016-09-16 04:42] #22 closed

[2016-09-16 04:42] doriansmiley commented on #22
use bower

[2016-09-16 04:43] doriansmiley opened #26 "Publish framework to bower"

[2016-09-17 16:14] doriansmiley opened #27 "Create example application using apollo client and graphQL"
Replace the rest API backend and sample service with graphQL and apollo client. Keep the sample service interface the same. Then update the service factory to return the apollo client service. This will also show how easy it is to swap out your service layer with lotus.

http://graphql.org/learn/schema/ (read first)
https://github.com/apollostack/graphql-server (graphQL server for HAPI)
https://gi

[2016-09-29 04:57] #12 closed, assigned to doriansmiley

[2016-09-29 05:04] doriansmiley opened #29 "Migrate actions from lavender to lotus"
Remove the abstract actions from Lavender. They really belong in lotus. Also move over the ActionErrorEvent and ActionSuccessEvent. Also move over ModelLocator, Config, ErrorModel, AsyncOperationModel and RecordSetModel.

[2016-09-29 05:10] #29 closed, assigned to nobody

[2016-09-29 05:19] doriansmiley opened #30 "Create Lotus CLI for starting projects"
#Refer to the following article for building a CLI in NodeJS:
https://developer.atlassian.com/blog/2015/11/scripting-with-node/
https://www.sitepoint.com/javascript-command-line-interface-cli-node-js/

An archive with the required template files is here: https://www.dropbox.com/s/dkld3z00fy1hpb0/lotusEmptyProjectFiles.zip?dl=0

The tool should take in a project name and a namespace. Once executed

[2016-10-19 03:12] doriansmiley opened #31 "Last few example app fix ups"
- ~~remove reference to context in abstract component~~
- ~~add label component to demonstrate data binding~~
- ~~update read.me with data binding example~~
- ~~move image gallery and item to core~~
- ~~Add brief explanation after the first paragraph in Web Components explaining how to create a custom component that extends abstract component. Also explain the attribute- attribute.~~

[2016-10-21 01:55] #31 closed, assigned to doriansmiley

[2016-10-21 02:04] doriansmiley opened #32 "Engineer Polymer support"
This will require a component map factory which we will add to the Context by default. That way users can either use the x-tag based component map or the Polymer component map based on their application configuration.

[2016-10-21 03:51] doriansmiley commented on #32
Use 2.0
Unreleased preview code. Currently, Polymer 2.0 is available as a branch of the Polymer library repo on GitHub. This is an active development branch, and should not be used in production. By all means, use the 2.0-preview branch to experiment, to provide feedback, and to familiarize yourself with the latest versions of the custom elements and shadow DOM specifications. Just don't build pro

[2016-10-21 04:02] #32 closed

[2016-10-21 04:07] doriansmiley opened #33 "Create component map using no polyfills"
IMPORTANT: this is not a priority item.

This effects `Lotus.ComponentMap.prototype.mapComponent`. It uses xtag specific syntax for registering a custom component. What we could do is create a default Lotus wrapper that exposes the same syntax as xtag, but just calls native DOM methods. This will replace the need for a specific framework and make the components built in Lotus more distributable in

[2016-10-21 05:07] doriansmiley opened #34 "Fix issue with OS X Safari 9"
I'm getting several errors from the web component framework. The issue is detailed here: https://github.com/webcomponents/webcomponentsjs/issues/348 . I downloaded the latest build but it did not resolve my issue. The following commit was supposed to resolve it: https://github.com/webcomponents/webcomponentsjs/commit/e2f6f20dda30b96ced54c1cd62b292be9c9d81dc. That commit is in my build.

[2016-10-21 05:21] doriansmiley commented on #34
It's like the polyfills are not registered

[2016-11-04 03:35] doriansmiley opened #35 "Add back the data- prefix for all custom attributes"
Read https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Using_data_attributes . To get a data attribute through the dataset object, get the property by the part of the attribute name after data- (note that dashes are converted to camelCase). For example `data-electric-cars` becomes:
[code]

[2016-11-09 05:27] doriansmiley commented on #35
done

[2016-11-09 05:27] #35 closed

[2017-04-17 22:59] doriansmiley commented on #34
This issue seems to be resolved in my latest build

[2017-04-17 22:59] #34 closed

[2017-04-17 23:02] doriansmiley opened #36 "Port framework to typescript"
Framework info is here:
https://github.com/Microsoft/TypeScript/blob/master/doc/spec.md

You can use decorators to do DI, scopes, etc. Info on how to build decorators is here: http://blog.wolksoftware.com/decorators-metadata-reflection-in-typescript-from-novice-to-expert-part-4

Better yet there is an IOC framework for typekit. See if you can extend it to provide the decorators for DI in typescrip

[2017-04-18 00:02] #26 closed

[2017-04-18 00:26] doriansmiley commented on #36
To make objects observable they are going to have to extend Lavender Subject. It might be  good idea to create a Ambient Module Declaration that exports the Subject object so it can be imported and extended without referencing the Lotus module. The other option is just to port Lavender over to TypeScript first.

[2017-05-18 21:26] doriansmiley opened #37 "Implement a component that uses CSS custom properties"
Read: https://www.smashingmagazine.com/2017/04/start-using-css-custom-properties/

Basically javascript exposes two methods to effect custom properties that are used in variable definitions: .getPropertyValue() and .setProperty(). This allows you to effect the value at runtime and have the browser resolve the changes. This is a huge breakthrough that could make the use of callbacks that manually r

[2017-08-04 19:34] doriansmiley opened #38 "Figure out why inherited accessor methods are not enumerated in subclasses"
Below is the AbstractComponent class method that is effected by this. See notes in the property checks

public addAttributes():void{
        for( let i=0; i < this.element.attributes.length; i++ ){
            let attribute = this.element.attributes[i];
            if( attribute.name.indexOf('attribute') >= 0 ){
                let index = attribute.name.indexOf('attribute') + 10;

[2017-08-22 16:49] doriansmiley opened #39 "Optimize tree shaking for typescript ES modules (transitive dependencies)"
npm will install specific module dependencies for each module consumed in our project. that means if we want to install component A that uses Lotus@1.0 and component B that uses Lotus@2.0 the resulting module will get both version leading to code bloat. We need a way to optimize the imports so that we don't get too much redundant code.

Description of how npm dependencies work is here: https://doc

[2017-08-24 03:10] doriansmiley commented on #38
implemented method to expose attributes from all base classes. This is resolved

[2017-08-24 03:10] #38 closed

[2017-08-24 03:32] doriansmiley commented on #36
I need to figure out how to expose the UI module as a separate npm package. I've excluded the directory as outline here: https://docs.npmjs.com/misc/developers and it removed the files from the typescript compiler output for Lotus. I need to set up an .npmignore file outline here https://docs.npmjs.com/misc/developers . This will exclude the directories from the npm package.  Once that is done I c

[2017-08-24 07:31] doriansmiley commented on #36
Ok, so the key for making sure node's module resolution for require is used for the ES modules that typescript emits was to remove any of the flags for relative paths:

A relative import is one that starts with /, ./ or ../. Some examples include:

so starting the path with lavenderJS for example `import {IEvent} from 'lavenderjs/lib';` resolved the issue of relative paths showing up in the npm pa

[2017-08-24 18:53] doriansmiley commented on #36
In LavenderJS

1. Wrap Lavenders index.ts in a module export
2. Compile and test

In LoustJS

1. revert changes removing the Lavender namespace from unit tests
2. remove the export of lavender from index.ts
3. import LavenderJS in unit tests and run tests
3. Refactor all lavender imports in .ts to use the following format:

[code]

4. Then reference the Lavender global instead of the objects direc

[2017-08-24 21:23] doriansmiley commented on #36
The trick for webpack was to use externals:

[code]

[2017-08-24 21:29] doriansmiley commented on #36
Done with the module optimization and refactor, all tests passing

[2017-08-24 23:33] doriansmiley commented on #36
figure out how to get npm modules for xTag and bower core. Right now I have to reference them in the test libs directory, but I want to use node_modules.

[2017-08-25 00:50] doriansmiley commented on #36
nearly done, just need to finish gallery components and test the sample app. button app is working perfect and using npm for package management.

[2017-08-25 23:22] doriansmiley commented on #36
1. finish sample application and test
2. Add decorators for DI
3. Update readme to include typescript examples and make it cooler. Man it's too technical now to get people moving.

[2017-08-28 19:46] doriansmiley commented on #36
I'm going to push #2 and #3 to separate issues.

[2017-08-28 19:49] doriansmiley commented on #36
pull request created

[2017-08-28 19:49] doriansmiley commented on #36
merged

[2017-08-28 19:49] #36 closed

[2017-08-28 19:57] doriansmiley opened #43 "Create typescript injector and data binding utils using decorators"
You can use decorators to do DI, scopes, etc. Info on how to build decorators is here: http://blog.wolksoftware.com/decorators-metadata-reflection-in-typescript-from-novice-to-expert-part-4

Better yet there is an IOC framework for typekit. See if you can extend it to provide the decorators for DI in typescript and hook up to function overrides that will work with Lotus injector and scopes. Framew

[2017-08-29 01:54] #33 closed

[2017-08-29 01:54] doriansmiley commented on #33
not going to do this

[2017-08-29 01:55] doriansmiley commented on #14
Need to entire core with shadow DOM.

[2017-08-29 01:55] #14 closed

[2017-08-30 23:51] doriansmiley commented on #43
branch created: #43_implementDecorators

[2017-09-01 16:28] doriansmiley commented on #43
try refactoring the `inject` function to overwrite the constructor of target and add the following:

[code]
Then refactor `AbstractMediator` by removing this code. This allows the @inject decorator to set up the target with the required code to resolve injections once the constructor is called and the context is available. Also it's probably a good idea to ensure that target has a context attribut

[2017-09-07 04:34] doriansmiley commented on #43
I was not able to overwrite the constructor within @inject due to the fact the object's constructor was already defined at that stage. This required me to create the `@injectable` decorator which does add the required code to the constructor. What's cool is I can add the `@injectable` decorator to base classes which allows me simply use `@inject` in sub classes which limits the amount of decorator

[2017-09-18 18:12] doriansmiley commented on #43
remove decorators from AbstractCommand and AbstractMediator objects. This bloats the code base. Create a new sample app in typescript that shows how to use decorators. Also remove the pollyfill loaded on the button sample application.

[2017-09-18 18:12] doriansmiley commented on #43
See if we can map injections to interface definitions

[2017-09-19 05:39] #43 closed

[2017-09-19 05:39] doriansmiley opened #44 "Create new sample application that shows how to use decorators."
This should be a typescript application.

[2017-09-19 05:43] doriansmiley commented on #17
deleting this for now

[2017-09-19 05:43] #17 closed

[2017-09-20 00:30] doriansmiley commented on #30
use https://www.dropbox.com/s/dkld3z00fy1hpb0/lotusEmptyProjectFiles.zip?dl=0 as a template

[2017-09-20 17:38] doriansmiley opened #46 "Break apart lotus into core, mvw, and ui modules"

[2017-09-20 21:26] #46 closed

[2017-09-20 21:31] doriansmiley opened #49 "Create all core UI components to support S1"
This should include:

Button
Text Input
Text Area
List
Radio
Image (displays a loading class when its scr is null or undefined. )

[2017-09-26 01:00] doriansmiley opened #50 "Create an AMP demo"
Try doing a demo page and see if we can use AMP documents in component skins.

About:
https://www.ampproject.org/learn/about-how/

Amp also has it's own custom elements core:
https://www.ampproject.org/docs/reference/components

From what I am reading you would not include your own custom elements inside an AMP document. Instead, have your components load AMP documents as part of their skin. This

[2017-09-26 01:26] doriansmiley commented on #44
moved over to lotusJS-MWV

[2017-09-26 01:26] #44 closed

[2017-09-26 01:30] doriansmiley commented on #16
moved to lotusjs-mvw

[2017-09-26 01:30] #16 closed

[2017-09-26 01:31] doriansmiley commented on #30
moved to lotusjs-mvw

[2017-09-26 01:32] #30 closed

[2017-09-26 01:32] doriansmiley commented on #27
not relevant anymore

[2017-09-26 01:32] #27 closed

[2017-10-12 05:36] doriansmiley commented on #39
I read about the following option:

--no-optional option is now implemented according to this documentation https://docs.npmjs.com/cli/install :

The --no-optional argument will prevent optional dependencies from being installed.

[2017-10-19 20:32] doriansmiley opened #56 "Implement suggestions from Steve"
* ~~Create docs section for LotusJS.org using type doc~~
* ~~Implement Pretty Print for code blocks~~
* ~~Enable Wiki in GitHub repo. Now public~~
* ~~Set up chatroom~~

[2017-10-19 20:42] KipOmaha commented on #56
@doriansmiley, I'll see what I can do this week.

[2017-10-19 21:59] doriansmiley commented on #56
Documentation should include the following sections:
* Overview (include major concepts such and the Lotus context)
* Intall
* Your First Component
* Collection and Item Views
* Built In Components
* Creating Advanced Components
* Core API
* Contribute
* Monetize

[2017-10-20 00:54] doriansmiley opened #59 "Look into an analyzer for webcomponents.org"
I'd like to be able to publish lotus components to webcomponents.org and get the same level of analysis of the component API as Polymer. The publication guide is here: https://www.webcomponents.org/publish . It states:

[code]

The Polymer analyzer is here: https://github.com/Polymer/polymer-analyzer

[2017-10-20 03:29] doriansmiley commented on #49
done in 1.3.15

[2017-10-20 03:29] #49 closed

[2017-10-20 03:32] doriansmiley commented on #50
I'm not sure this will be doable, need someone to evaluate to see if it makes sense.

[2017-10-20 03:54] KipOmaha commented on #50
It doesn't support JS unless its in an iframe with sand-boxing it sounds like.  It sounds more like a frame work that you might plugin a couple of iframed components to me at least.

[2017-10-20 03:56] KipOmaha commented on #50
As far as doable it most likely is, but would take a working project of its own to do I think.

[2017-10-20 16:31] doriansmiley commented on #50
@KipOmaha yeah I wasn't sure how viable this would be. I know that some people will load AMP pages into their components since AMP can not support non AMP components within an AMP page. It's not super important that we deliver this, but it is good to know how or if Lotus could integrate with AMP. One thing I have noticed with frameworks like AMP is you tend to sacrifice flexibility for performance

[2017-10-21 00:16] KipOmaha opened #60 ".gitignore node_modules?"
Suggest including node_module dependencies. (ie: lavenderjs and x-tag) so that people can run the examples without npm installing.

[2017-10-21 00:30] doriansmiley commented on #60
@KipOmaha the example readme should include instructions on running npm install. We never check in node_modules. This is generally best practice. We could update the HTML files with instruction though. I could include a section at the top entitled "Running this example".

[2017-10-21 00:47] KipOmaha commented on #60
Cool, I didn't see that in the example readme should have checked for the readme in the example.
I figured as much though. I will put the node_modules on the build I have going on though, because I'm just developing it. I will make sure that they get put back on the `.gitignore` list.

Thanks @doriansmiley

[2017-10-21 01:47] ghost opened #61 "Revising and editing new button example"
Anything you would like to add to the button example while I'm playing in the code.

~ ChangeLog
1. Added pretty print
2. Cleaned up the alignment on the code example

[2017-10-21 02:00] KipOmaha commented on #60
Maybe we could consolidate all the readme.md files into a single section with instruction for the builds if they are all the same.

It would be easier to maintain one set of instructions for examples and would reduce the size of the example directory.

[2017-10-21 03:29] KipOmaha commented on #50
[code]

[2017-10-21 03:37] KipOmaha commented on #50
I am not sure how I feel about this...any thoughts?

[2017-10-21 03:49] KipOmaha commented on #37
I'm going to look into this very closely it's something I've wanted to dive into independently, thank you for bringing this enhancement issue up.

[2017-10-21 17:26] doriansmiley commented on #37
@KipOmaha no worries, yeah I'm super into the possibilities here. I think it will change how we approach MVW in general. View resolution can be delegated in some respects to the browsers which is really cool. Can't wait to see what you come up with.

[2017-10-21 17:54] doriansmiley commented on #50
@KipOmaha so I am really torn on AMP. I'm not a very big fan of anything that is not standards based. The reason is most of the time non standards based technology is almost always replaced by a standards based version. Take Flash for example. This leaves people who invested in the non standard version with a huge refactoring when standards eventually take over. However this takes a very long time

[2017-10-21 18:13] doriansmiley commented on #61
if you want to and have time try and improve the description. Also you could create another example using a subclass that adds skin parts for example. One thing I found was that our developers here at SPI did not understand the use of selectors in your components was an anti pattern. They did not understnad that if you want to add behaviors to new elements is a subclass you have to define a new sk

[2017-10-21 18:15] doriansmiley commented on #60
I keep multiple due to the fact we never really know where the user will land when they enter the example section of the repo. I like having the duplicates to they are sure to see it.

[2017-10-21 18:15] #60 closed

[2017-10-21 23:23] staramir commented on #50
I don't see the benefit of using AMP as I believe the performance gained by AMP is really due to the restriction set by their standards. If you load an HTML page with no JS using HTTP2, I am pretty sure you would achieve the same performance. How widely adopted is AMP? It wouldn't hurt to create a demo if there is a lot of support and adoption of it but as I see it, I don't think AMP will really b

[2017-10-21 23:36] KipOmaha commented on #50
This I believe goes back to the issue of wanting to maintain an Amp API, for people who want to develop AMP from LotusJS components. If it's what developers and businesses want then I would say that it's worth it.

You might argue though, that finding work arounds for Amp from Javascript probably goes against good sense, I mean is a workaround part of a real framework? Which yes it could be but th

[2017-10-22 00:06] KipOmaha commented on #61
I will have a pull request soon with some updates by the end of the weekend, I will tack another example to the end of it to if I have time, if I don't finish the example I will add another file `button-example-dev.js`.

[2017-10-22 00:27] ghost opened #62 "x-tag v2"
would you mind a pull request for a build involving a v2 custom elements LotusJS?

The version of x-tags v2 is off branch though, but I'm looking for feedback and it would be very helpful for v2.

[2017-10-22 01:25] ghost opened #63 "dashboard example"
~ x-tag v2 dashboard

Note:  V2 version is off branch.

Would like to provide a dashboard UI for examples. It would also be a great resource to have for the LotusJS project because it's written in x-tag v2 and also could be used to do some initial testing for v2 compatibility.

### Issue:
Need testing for v2. It's almost complete and I need feedback on the design/arch for the build and components

[2017-10-22 19:58] KipOmaha commented on #61
Nice...I just did some initial tests of the example request you wanted. LotusJS definitely has some potential.

[2017-10-23 00:23] doriansmiley commented on #61
@KipOmaha that's great to hear. looking forward to the pull request.

[2017-10-23 00:54] doriansmiley commented on #62
I think you should create a feature branch and test it there. We do have some unit tests you can run (just execute npm test) in addition to performing usability testing under the example directory. If everything passes then for sure issue a pull request. Would really like to get updated to the latest x-tag ASAP.

[2017-10-23 00:54] doriansmiley commented on #62
@KipOmaha let me know if you want help on this

[2017-10-23 01:08] doriansmiley commented on #63
@KipOmaha

1. I'm not sure on the organization. I'll have to get more familar with the repo. Where is the dashboard for v2 located?
2. I need to learn more about x-tag v2. Are there release docs yet so I can learn more about what features have been added?
3. That is correct, x-tag adds the pollyfills for shadow DOM, creates the custom element definition, and registers the lifecycle events required

[2017-10-23 01:12] doriansmiley commented on #50
@KipOmaha @staramir Amir I agree. I think we should just back standards and close this issue. AMP is going to be pretty widely adopted I think but probably for a short period of time. Let's leave it to the community to drive this one as Steve suggested. We can revisit this if we get requests and build up some documentation with the suggested approaches (per Steve's recommendation), but perhaps not

[2017-10-23 01:13] #50 closed

[2017-10-23 04:11] KipOmaha opened #64 "Licensing information on repo"

[2017-10-23 04:12] KipOmaha commented on #62
https://github.com/x-tag/core/tree/v2  <= link to v2 branch in the repo

[2017-10-23 04:13] KipOmaha commented on #62
When would it be best to start collaborating on this?

[2017-10-23 04:15] KipOmaha commented on #63
I  did have a setup on a repo but its currently down. I will get it running again soon. I will keep you informed.

[2017-10-23 04:16] KipOmaha commented on #63
and here is the link to the repo branch. => https://github.com/x-tag/core/tree/v2

[2017-10-23 04:33] KipOmaha opened #65 "api reference glossary"
Start an API reference library.
  Suggestion: Start it on the gh-repo wiki for contributors for now.
  Reason: For quick referencing of parts of the API

[2017-10-23 16:15] doriansmiley commented on #62
@KipOmaha I'd like to start today. If you've already created a feature branch let me know and I'll work in that branch. If not I'll create one and post the branch here.

[2017-10-23 20:53] KipOmaha commented on #62
I haven't created a branch yet @doriansmiley

[2017-10-23 22:42] doriansmiley commented on #62
@KipOmaha not yet, won't get back on this until around 5PM PST. If you want to create a branch before then just post it here.

[2017-10-23 23:17] KipOmaha commented on #62
ok

[2017-10-23 23:18] KipOmaha commented on #62
I am going to put lotusJS on my dashboard.  The dashboard isn't done yet, but I think it will do for some testing.

[2017-10-23 23:18] KipOmaha commented on #62
sorry didn't mean to close this issue

[2017-10-23 23:27] doriansmiley commented on #62
@KipOmaha sounds good. Not sure how your dashboard is created but if it is pure Javascript you can see an example of a component that is build in pure Javascript here: https://github.com/doriansmiley/lotusJS-MWV/blob/master/example/sampleApp/js/view/PageNumberDisplay.js . It is totally fine to use LotusJS to create custom components outside of TypeScript. I plan to include some more Javascript exa

[2017-10-23 23:30] KipOmaha commented on #62
kool, it uses javascript.  I've been looking at the typescript, in the examples and how it works with the Javascript.  It's interesting how it's mapped out, did you get a chance to look at v2?

[2017-10-23 23:33] doriansmiley commented on #62
@KipOmaha I start looking at V2 last night. Going to take a deeper look tonight and attempt to run tests against the build. One thing I am having a hard time tracking down are release notes, or a summary of the issues that were added to this release.

[2017-10-23 23:34] KipOmaha commented on #62
There are jasmine tests that you can take a look at.

[2017-10-23 23:35] KipOmaha commented on #62
There docs in the => https://github.com/KipOmaha/x-tag-setup/tree/master/pkgs/docs directory

[2017-10-23 23:41] KipOmaha commented on #62
I'm pushing lotusJS to the build

[2017-10-23 23:58] KipOmaha commented on #62
The last commit was for an issue involving a recursion error occurring when you used an auto rendering feature of the library.  I also noticed that camel casing didn't work for me, but I put a shim into the build to fix it real quick.

Also the commit that fixed the recursion error causes the ability to re-render the element to cause an error.

[2017-10-24 01:24] doriansmiley opened #66 "look into building tests for web components everywhere"
Fork here: https://github.com/webcomponents/custom-elements-everywhere. Create a test module for Lotus components.

- [ ] Find a way to dispatch events on the native element. Currently, we need to perform `element.component.addEventListener`. I don't think this is good. We should be able to propagate custom events on the custom element. This is going to require the dispatch to be performed on `thi

[2017-10-24 01:28] doriansmiley opened #67 "New component ideas"
Would interesting to see what components could be created using the following API's:

https://developers.google.com/web/fundamentals/primers/service-workers/
https://workboxjs.org/
https://developers.google.com/web/updates/2016/07/payment-request
https://developer.chrome.com/apps/mediaGalleries
https://developer.mozilla.org/en-US/docs/Web/API/MediaStream
https://developer.mozilla.org/en-US/docs/We

[2017-10-24 01:44] KipOmaha commented on #67
A custom component that utilizes modern browser indexedDB as well as service-workers would be great. I call the one I'm working on for indexedDB x-extension.  I thought of it as way for web applications to implement a UX for the front-end.

CSS_Grid_Layout,  working on similar CSS.  But haven't thought of componentizing it with custom elements. It could be done, quite simply. What type of behavior

[2017-10-24 02:00] doriansmiley commented on #67
@KipOmaha yeah service worker is really cool. I'm learning the API at the moment and looking at workbox as well. Any web components that implements the API would be really cool.

For CSS Grid I was thinking there might be a way to combine CSS vars with component attributes so you could pass in the grid parameters in the component's `data-attribute-*`. I'm not sure how it would work though and if x

[2017-10-24 05:10] doriansmiley commented on #62
@KipOmaha I started testing against x-tag v2 and the first issue I found was with the register function. It looks like a breaking change was introduced in v2 with that method. The old method was implemented as follows:
[code]
The new method is implemented as follows:
[code]
Where customElements is an instance of `CustomElementRegistry` or the pollyfill created by x-tag. The define method's signatu

[2017-10-24 11:03] KipOmaha commented on #62
Sorry I didn't see this in the issues. It's using custom-elements.js and doesn't use the shadow dom.

[2017-10-24 11:04] KipOmaha commented on #62
I was thinking of adding the shadow dom files to see about compat. would this be needed?

[2017-10-24 16:11] doriansmiley commented on #65
@KipOmaha I will for sure be creating API docs from TypeScript. However this will probably be an ongoing support issue for some time as the code will have to be improved with comments to include things like code sample.

[2017-10-24 16:26] doriansmiley opened #68 "Review best practice for out of box performance"
* Service Worker: https://developers.google.com/web/fundamentals/primers/service-workers/
* Cache: https://developer.mozilla.org/en-US/docs/Web/API/Cache
* PRPL pattern: https://developers.google.com/web/fundamentals/performance/prpl-pattern/
* CloudFront Cache headers: https://github.com/doriansmiley/lotusJS-Web/issues/1
* Consider separating the following core UI components into their own repos:

[2017-10-24 18:43] KipOmaha commented on #68
Good idea, I agree. What type of setup? I do testing on dashboards like the one I have setup.

[2017-10-24 18:44] KipOmaha commented on #68
Also, I can put u as contributor if you want

[2017-10-24 19:27] KipOmaha commented on #67
So you want to work on UX and standards I take it?  At least in a nutshell?

[2017-10-24 19:28] KipOmaha commented on #67
Well at least standards concerning security features?

[2017-10-24 19:29] KipOmaha commented on #67
The only problem with that is, what are your standards for allowed components. If you could elaborate on that it would be helpful.

[2017-10-24 22:14] doriansmiley commented on #67
@KipOmaha the idea with "SaaS components" is simply using a flow similar to oAutth's authorization code grant flow where by the surrounding web application generates an access token using a key pair. This access token is then passed into the web component tag using a server side scripting language similar to:
[code]
At this point the custom element can now pass the supplied auth token in requests.

[2017-10-24 22:21] doriansmiley commented on #68
@KipOmaha do be honest I am not sure yet. I have to learn more about the patterns and optimization techniques. I think most of the stuff related to PRPL pattern will end up effecting Lotus-MVW. But separating the code is pretty critical and Angular's AoT is really cool. Will spend some time this week trying to get caught up and generate a road map for optimization.

[2017-10-24 22:37] KipOmaha commented on #68
Thank you @doriansmiley, I really like where your going with your mvw

[2017-10-24 23:35] KipOmaha commented on #67
Your last statement hits home, a lot of my psuedos for v2 are going to be list style psuedos to help in turn `data` into a readable format.  One of the reasons I was interested in your component system was cause of the monetization system you want to develop.

Which I think would help facilitate people to new standards, for a while I was very torn on the upgrade to v2 and a custom-elements impleme

[2017-10-24 23:54] KipOmaha commented on #67
It's very interesting to me the way you use `type script` to help facilitate a framework that is friendly to javascript and graphics, VIA LotusJS. For my personal use I would use it as a development environment as long as it's maintained as an open source project.

[2017-10-25 17:22] KipOmaha commented on #66
I made a fork of this.

[2017-10-31 05:20] doriansmiley commented on #64
Added boiler plate ISC in dev. Will be merged into master on next release.

[2017-10-31 05:20] #64 closed

[2017-10-31 06:13] doriansmiley commented on #65
@KipOmaha I plan to use [TypeDoc](https://www.npmjs.com/package/typedoc) to generate the API docs. I can link to it from the Wiki but will probably publish on lotusjs.org. TypeDoc seems to be the most widely supported doc tool for TypeScript.

[2017-10-31 12:07] KipOmaha commented on #62
@doriansmiley,

I'm going to try out,
[code]

Anybody like this idea for custom-element packages. The idea is to create the necessary xtag's object for that particular web page.

Should I test it on v1 so that we can build xtag v1 into v2 instead of vice versa?

[2017-10-31 12:08] KipOmaha commented on #62
I would have to change a couple lines to make it work with v1 though

[2017-11-02 04:22] doriansmiley commented on #65
I've implemented typedoc using the typedoc webpack plugin. Full API docs are generated now as part of the build process. I will have these published to the website under the new documentation sections. You can download the latest from https://www.dropbox.com/s/18x8m2ktaiwkrp0/docs.zip?dl=0

[2017-11-02 04:22] #65 closed

[2017-11-03 01:55] doriansmiley opened #69 "Create CLI for Generating Components From Skins"
This tool should allow users to defined the following:

1. Import a skin and output a function for the component.
2. Collection components will be derived from the presence of a collection container and item template.
3. Input params:
    1. The skin path
    2. The component output path
    3. The output path for the test

[2017-11-03 04:23] doriansmiley commented on #56
I've started the new documentation sections. I've gotten similar feedback from developers regarding the need for better documentation and I'll make it my priority for the next couple weeks.

[2017-11-03 17:43] KipOmaha commented on #69
So a form a person can fill out and create a skin part?

[2017-11-03 18:43] doriansmiley commented on #69
@KipOmaha so that is what I'm trying to figure out. There are a few of approached:

* A CLI that could take in a JSON manifest which defines the skin parts
* A CLI that prompts the user for the skin part definitions
* A browser based GUI that allows the user to define the skin parts using a form

What would your preference be?

[2017-11-03 18:54] KipOmaha commented on #69
I have component's (x-tag) form on my dashboard, at least that was the direction I was going with custom elements.  I just made an updated to it and also added a LotusJS tab.  Here is the link => https://github.com/KipOmaha/x-tag-setup or
https://kipomaha.github.io/x-tag-setup/index.html  <== Is th GH-Page...

It's a work in progress

[2017-11-03 20:44] doriansmiley commented on #69
@KipOmaha now I get the dashboard concept. So I could totally make something that I could expose as a service that you could use to power this. For example expose a core subclass list, generate the stubs, skin part info, etc. Let me work on an API or this. Really cool.

[2017-11-04 13:30] KipOmaha commented on #69
Thanks @doriansmiley

[2017-11-18 18:49] doriansmiley opened #70 "Demo using Lotus component classes in Angular 2"
Read: http://www.gistia.com/create-use-custom-components-angular-2/. All we have to do is create a component that extends a lotus base class and implement lifestyle methods to trigger created. The default encapsulation strategy uses shadowDOM.

The goal is to show that because LotusJS component classes have no dependency on a templating engine they are highly reusable in other frameworks. The true

[2017-12-05 05:53] doriansmiley commented on #70
The sample is up on dev under examples/angular and working like a charm. Using lotus components in angular looks really simple!

[2017-12-13 02:14] doriansmiley opened #71 "Rethink use of global namespaces"
By using the following import syntax:
[code]
We are able to leverage `require` statements using CommonJS style module resolution which is more backward compatible. However this requires that we load the entire lib. This does not allow effective code splitting leveraging ES6 `imports`. While people can build from source and target ES6 modules the fact the import will still require the entire lib is

[2017-12-15 17:35] doriansmiley commented on #70
I'd like to enhance this with a data binding example and an application model. This will differ from a normal angular app that creates bindings directly in the view. I believe this i inherently slower than a typical observer pattern, and also bad practice.

[2017-12-16 01:15] #56 closed

[2017-12-16 01:17] doriansmiley opened #72 "Create getting started guide"
Documentation should include the following sections:
* Overview (include major concepts such and the Lotus context)
* Intall
* Your First Component
* Collection and Item Views
* Built In Components
* Creating Advanced Components
* Core API
* Contribute
* Monetize

[2017-12-22 19:01] KipOmaha commented on #70
Are you familiar with liquid layout on Adobe BC?

[2018-01-07 19:48] doriansmiley opened #73 "Create benchmark tests for krausest"
I found this testing framework referenced on https://vuejs.org/v2/guide/comparison.html.js. It looks relatively easy to create a version for LotusJS and issue a pull request. Also, be sure to create a separate ticket in lotus-mvw for this.

https://github.com/krausest/js-framework-benchmark

[2018-01-07 19:50] doriansmiley commented on #73
The online interactive comparison tool can be found at: http://www.stefankrause.net/js-frameworks-benchmark7/table.html

[2018-01-07 22:39] doriansmiley opened #74 "remove the use of eval in AbstractCollectionView"
The AbstractCollectionView is trying to evaluate the class to construct. I'm thinking we could split on the `.` in the string the evaluate the values like:
[code]
for example `Lotus.Button` would become:
[code]
Assuming the top level object at `result[0]` is always found on window this approach should work. I can't think of any case where alternative scoping would work.

An alternative to this app

[2018-04-21 05:45] doriansmiley commented on #70
data binding example pushed, worked flawlessly.

[2018-04-21 05:45] #70 closed

[2018-04-21 05:56] doriansmiley commented on #74
I think the solution here is to simply force subclasses to return a specific in constructor the call to `createChildView`.  It's more secure and not as brittle a pattern. After that `eval` should be gone from the codebase!!!

[2018-06-01 05:09] ghost opened #75 "Question: Lotus Prototype mapping"
Currently a WIP but I finally have went into the guts of xtag and decided on using a preventClass parameter to extend the V1 specs to be able to include some aspects of the V2 library.

It doesn't emulate it at all really though, the main advantage of it is going to be the class you are allowed to pass to it. The addition doesn't effect the normal build of the xtag object and the final spec to the

[2018-06-01 05:20] ghost opened #76 "Custom Component: Dashboard display component with key mappings and transitions"
Dashboard Display with key mappings and transitions, based off of element from xtag component stub called x-tabbox.

[2018-06-01 05:22] ghost opened #77 "Component: Multi-Page Form"
Multi page Profile form for users that allows them to save the form data offline to a text, json, or xml file than get back to work on the form later.

[2018-06-01 05:24] ghost opened #78 "inactive of late"
Is this still a project your interested in @doriansmiley ?

Dan said he was interested in talking about it with you.

[2018-06-01 05:48] doriansmiley commented on #78
@KipOmaha yep, I'm just super busy. Working two jobs right now and still trying to update the project.

[2018-06-01 06:53] KipOmaha commented on #78
No worries, I'll be lingering around if you have questions on status of x-tag or components.
I'll try to have some PR's for you and not pester you with questions, lol.

Let me know when you have time to chat on a diff channel.

[2018-06-06 10:02] KipOmaha commented on #77
- [ ] Privacy Statement
- [ ] Font Awesome Hooks? -- Or maybe a Adobe Stock that can be monetize alongside FA
- [ ] Skin flex styles with relative and absolute positioning [Two Versions]
- [ ] IndexDB integration for trial periods.

[2018-06-06 10:02] KipOmaha commented on #77
@doriansmiley could I get some feedback. I started this lotus component, what do you think?

[2018-06-06 10:03] KipOmaha commented on #77
would it be something you'd put up in your sharing space?

[2018-06-07 06:06] KipOmaha commented on #59
I was thinking of the same thing. It's a good idea but it's hard to implement in a practical way, at least on GitHub.

I don't know, I was thinking of creating a form that would help you create your package.json and bower.json, as well as help package your assets too.

[2018-06-07 06:33] KipOmaha commented on #37
https://github.com/malyw/css-vars

[2018-06-07 06:33] KipOmaha commented on #37
Did you read to the mixin part?

[2018-06-07 07:38] KipOmaha commented on #68
have you looked into yarn for pkg bundling?
Here is a link to there workflow page.
https://yarnpkg.com/en/docs/yarn-workflow  ==> I'm not sure if this can work as a bundler.

I'm not sure if this was what you were looking for.

[2018-06-07 07:41] KipOmaha commented on #68
I believe Mozilla's Test Pilot Web Page utilizes. At least it did last time I downloaded it and played with the setup it used Yarn.

It was simple to use!

[2018-06-07 14:22] doriansmiley commented on #68
@KipOmaha yep yarn is useful when installing dependencies. It will ensure a flat tree structure. The changes I'm making related to the removal of namespaces from the codebase are the biggest action items for this ticket right now. It will ensure developers load just the modules they need without importing the entire bundle. That helps enable patters like PRPL.

[2018-06-07 14:28] doriansmiley commented on #77
@KipOmaha take a look at the form component. It might be a good place to start: https://github.com/doriansmiley/lotusJS/tree/dev/example/form

[2018-06-07 18:09] KipOmaha commented on #37
A start to some simple rules:

    1. Declare variables at the top of the stylesheet
    2. Variables declared as numeric values will use the calc() function and percentage
    -- unit mathematics to account for padding, margins, borders, outlines, and overflow.
    3. Containers should all be flex or grid types for stand alone application crossover.
    -- Relatively positioned flex containers wo

[2018-06-07 18:12] KipOmaha commented on #37
So I'm not quite sure about it but decided a list of things to think about while developing components would be good.

I'll link an article I read for reference

[2018-06-07 19:06] ghost opened #79 "Guide Request: Getting started writing web components in typescript"
I'm sorry to bother you about this but I'm currently switching to typescript and was wondering if you knew any guides or maybe have one being made for typescript components.

[2018-06-07 19:33] KipOmaha opened #80 "Form Example: Slow loading of prettyprint"
The pretty print is making lotusJS load slow.

1. I loaded 'form' example with nothing changed and it took about 7-14s to load
2. I removed the pretty print cdn and it loaded in 1-2s.

I started to worry, but I do think that you should think of making a pretty print component  => I've been using x-code-prism.

[2018-06-07 20:10] KipOmaha commented on #80
I made some edits to the form example and got the page loading quicker now, maybe it was just the cdn at the moment. I don't know, but it seems to like the changes I made.

- 1. I wrapped a code element around the text
- 2. I spaced code with new lines

[2018-06-07 20:19] KipOmaha commented on #80
most likely it was the cdn...I'm going to close this issue.

[2018-06-07 20:19] #80 closed

[2018-06-08 00:19] ghost opened #81 "Globals Doc link on site page"
I found this at last lol.
Should there be a link to this on the site?

lotusJS/lib/docs/globals.html

[2018-06-08 00:53] KipOmaha commented on #77
IndexedDB library called dexie.js could be utilized for the form component

[2018-06-08 01:49] KipOmaha commented on #77
I'm building the component and was wondering why I'm getting the error msg:

``` SCRIPT5007: Unable to get property 'ComponentMap' of undefined or null reference```

[2018-06-08 02:08] doriansmiley commented on #77
So that is telling you that the Lotus namespace is undefined. My guess is the script tags are not importing the required bundles. Did you go through the readme? You have to run npm install and adjust the paths in index.html. The readme should cover the steps.

[2018-06-08 02:12] KipOmaha commented on #77
IT IS ALIVE!!!!!
I got the problem corrected

[2018-06-08 02:13] doriansmiley commented on #77
nice!

[2018-06-08 02:18] KipOmaha commented on #77
Thanks @doriansmiley

[2018-06-08 19:28] ghost opened #82 "MVW framwork components"
If your building components for the framework version how do you share those ones?

[2018-06-08 19:32] KipOmaha commented on #82
To extend the question further, did you want them to follow the naming convention,
`x-lotus-`?

It's what I'm doing currently, except I change x => io.
So I don't overwrite any examples I may want to use

[2018-06-08 19:32] KipOmaha commented on #82
Should components in the library version follow those too?

[2018-06-09 01:27] ghost opened #83 "Bug: Comments not allowed on first line in template file"
When I put a comment before the template tag, the loader doesn't find my component.
I'm not sure if this anticipated behavior.

[2018-06-13 03:47] KipOmaha commented on #77
I've got a new object prototype I've implemented for Dexie.js I have it in typescript but its buggy.
The Javascript version of it based of the compiled typescript I have running though let me know if you want a PR of what I have so far @doriansmiley.

Maybe I can make a pr to a multipage form branch.

[2018-06-14 03:48] doriansmiley commented on #77
@KipOmaha can you give me a link to the repo? I don't want a PR as I'm trying to keep the lotus core lean. I may even move all the UI components out into a separate lib to reduce file size. But I'd like to check out the project and see if I can help out.

[2018-06-14 05:36] KipOmaha commented on #77
@doriansmiley
here is a link https://github.com/KipOmaha/online-hobbyshop

[2018-06-14 05:36] KipOmaha commented on #77
https://kipomaha.github.io/online-hobbyshop/

[2018-06-14 05:36] KipOmaha commented on #77
site example

[2018-06-17 15:08] KipOmaha commented on #77
I've got this almost done, but I can't seem to get the `onReady` event to fire in the chrome browser.

[2018-06-18 15:38] KipOmaha opened #84 "Typo in code"
This should be prevBtn
[code]
I don't believe this is a breaking change. I have it switched for the version of lotus I'm using.

[2018-06-18 15:41] KipOmaha commented on #84
I changed all references in `lotus_v0-0-0-a.js`, which is the build I'm using to develop the library further.

[2018-06-18 15:42] KipOmaha commented on #84
I'll be making this push soon, @doriansmiley did you want this change?

[2018-06-18 15:52] ghost opened #85 "Enhancement: Change Math.Random()"
Math.Random() seems like a weak solution for assigning unique id's.

I suggest using an index system for the AbstractComponent object.

[2018-06-18 17:35] KipOmaha commented on #85
I've targeted document.body for the job of storing a unique number index. It's stored as the `data-unique-count` attribute.

[2018-06-18 17:42] KipOmaha commented on #85
I may use a different attribute for styling purposes to help out with the shadow dom.

[2018-06-18 17:43] KipOmaha commented on #85
What do you think of this solution @all

[2018-06-19 04:49] doriansmiley commented on #84
no I'll apply it in the typescript source

[2018-06-19 04:50] #84 closed

[2019-12-31 18:12] doriansmiley opened #86 "Create Functional Component Map"
I'm going to be removing x-tag and implementing native APIs for registering components. The goal is to remove all pollyfills and get as close to the standard as possible.

- [x] finish linter clean up
- [x] Fix security vulnerability in Lavander and publish new version. Run npm outated and npm update any outdated packages. Ensure tests pass.
- [x] Update to new version of lavender and make sure we

[2020-01-10 00:48] doriansmiley commented on #86
Need to improve the current abstract component by making sure we don't mutate the state of the supplied arguments or cause any other side effects.

[2020-01-13 17:42] doriansmiley commented on #86
Links:
Lifecycle Hooks:
https://developer.mozilla.org/en-US/docs/Web/Web_Components/Using_custom_elements
https://github.com/mdn/web-components-examples/blob/master/life-cycle-callbacks/main.js

HybridJS (wraps functional component in a class)
https://github.com/hybridsjs/hybrids/blob/master/src/define.js
https://github.com/hybridsjs/hybrids

[2020-01-18 19:35] #62 closed

[2020-01-18 19:35] #63 closed

[2020-01-18 19:35] #67 closed

[2020-01-18 19:35] #71 closed

[2020-01-18 19:35] #72 closed

[2020-01-18 19:35] #73 closed

[2020-01-18 19:35] #74 closed

[2020-01-18 19:35] #75 closed

[2020-01-18 19:35] #76 closed

[2020-01-18 19:35] #77 closed

[2020-01-18 19:35] #82 closed

[2020-01-18 19:35] #83 closed

[2020-01-18 19:35] #85 closed

[2020-01-18 19:35] #61 closed

[2020-01-18 19:35] #78 closed

[2020-01-18 19:35] #79 closed

[2020-01-18 19:35] #81 closed

[2020-01-18 19:40] doriansmiley opened #87 "New components"
#### Brainstorming
1. Auto complete using Levenshtein distance.
2. AWS components??? Consider combining this with the serverless API generator. This would allow users to create a serverless API with the component.
    1. S3 upload copy/past/drag/drop. This is similar to comment boxes on Pivotal. So the user cloud copy an image, file, etc, and when they past in the component it will save the file o

[2020-01-20 00:31] doriansmiley commented on #86
Changes pushed up to feature branch.

[2020-01-20 00:31] #86 closed

[2020-01-20 00:35] doriansmiley opened #88 "Port over components to functional style"
We are going to port over (**no view model, only the immutable List object!**):

- [x] AbstractCollectionView
- [x] AbstractItemView
- [x] Image Gallery
- [X] Button
- [x] Look into implementing compose and pipe =. Eric Elliot has a great article on functional composition [here](https://medium.com/javascript-scene/curry-and-function-composition-2c208d774983). Practical component example in React i

[2020-01-20 00:42] #11 closed

[2020-01-20 00:42] #37 closed

[2020-01-20 00:42] #39 closed

[2020-01-20 00:42] #59 closed

[2020-01-20 00:47] doriansmiley opened #89 "Publish functional components to bit.dev"
Loom into how to publish to https://bit.dev/ once functional refactor is done.

[2020-05-08 05:07] #68 closed

[2020-05-10 23:55] doriansmiley commented on #88
Published

[2020-05-10 23:55] #88 closed

[2020-07-27 17:51] doriansmiley opened #91 "Move to native ES modules"
Look into using [SystemJS](https://github.com/systemjs/systemjs) to import global dependencies. See if it can be used for an example application that does not require UMD modules. I'd like to remove generation and use of UMD modules.

Also look into publishing/serving dependencies from [unpkg](https://unpkg.com/).

[2020-07-29 18:09] doriansmiley opened #92 "Look into ES6 function decleration in object literals"
The solution is to use a function expression or shorthand syntax for method definition (available in ECMAScript 6). In such a case this is determined by the invocation, but not by the enclosing context. Let’s see the fixed version:
[code]
Because sum is a regular function, this on invocation of calculate.sum() is the calculate object. this.array is the array reference, therefore the sum of element

[2020-07-31 00:34] doriansmiley opened #94 "Look into implementing stylelint"
Look into implementing for example applications. https://stylelint.io/user-guide/get-started

[2020-12-01 21:05] doriansmiley opened #98 "Migrate to ImmerJS for immutable data"
I'd like to pull the immutableJS dependency and API usages. Use [ImmerJS](https://immerjs.github.io/immer/docs/installation). This lets us use native DOM APIs. The components should always use native DOM. The application layer in examples should use Immer to create immutable data structures. This will be a huge improvement for library, and reduce bundle size a lot!

[2020-12-01 21:09] #87 closed

[2020-12-01 22:02] doriansmiley commented on #98
On second thought no. Wrapping every mutation in produce is tedious! Using immtable's functions it's way easier, and probably less prone to leaving some reference object somewhere mutable.

[2020-12-01 22:02] #98 closed

[2021-01-24 01:39] doriansmiley opened #101 "Add support for SSR in Puppeteer"
I've got a branch going: `feature/ssr`. I've got web components rendering with Shadoe DOM serialization! Next, I need to support a few methods on abstract web component:
- `client` - calling this function executes Javascript code that should run on the client only
- `server` - calling this function executes javascript code that executes on the server only
- `both` - calling this function executes

[2021-01-24 01:54] doriansmiley opened #102 "Add basic application tools"
At a minimum, we need:

- [x] DI with Event Bus
- [x] Event Bus. Pull the implementation code from [this article](https://medium.com/javascript-in-plain-english/multicasting-with-zen-observables-e428ac1eabf6) I wrote. There is also a test.
- [x] Data Binding for Reactive Programming(port from lotus-MVW). Demonstrate an example with [debounce](https://www.npmjs.com/package/debounce). The lib is tin

[2021-01-24 18:42] doriansmiley commented on #101
The current approach will still deliver server-side javascript to the client. The right approach here is to use [lazy loading webpack chunks](https://webpack.js.org/guides/lazy-loading/) and [code splitting](https://webpack.js.org/guides/code-splitting/). This requires splitting components that support SSR into checks that are conditionally loaded with [dynamic imports](https://webpack.js.org/guid

[2021-01-24 18:50] doriansmiley commented on #101
Notes on promises with Rambda:
https://stackoverflow.com/questions/57838698/ramdajs-how-can-i-use-pipe-with-sync-and-async-functions
https://stackoverflow.com/questions/46702691/using-ramda-to-handle-promise-and-await

[2021-01-24 18:51] doriansmiley commented on #101
I also don't think we need to have clients and both chunks. The client is implied. We just need a split for server content.

[2021-01-25 03:39] doriansmiley commented on #101
I've decided to just alter the render function to accept an `ssr` parameter. If true child view creation for collection view is skipped. I need to modify `ComponentRegistry` though to detect ssr:
[code]
I don't know yet how to detect `ssr` in the code. Currently, it's an application-level concern. The core is going to need some way to detect ssr. A custom attribute on the DOM could work, but this

[2021-01-25 04:10] doriansmiley commented on #101
I am setting the `ssr` attribute on the component's root element. I need to alter ComponentRegistry to determine SSR support using:
[code]
I'll need components to alter their behavior based on the state. The call to this line: `const component: Component = tagDef.tagFunction();` is detryoing the DOM returned by the server. Also the behavior in ComponentRegistry that creates and assigns the shadow

[2021-01-29 04:26] doriansmiley commented on #101
I've got support for collection view in. I introduced a new attribute in the render method to toggle behaviors for client side vs server-side rendering:
[code]
It's required that both the ComponentRegistry and the main application entry point supply this parameter based on the presence of a shadow DOM:
[code]
With this in place everything "just works". I need to do an example of using fetch to pul

[2021-03-26 00:21] doriansmiley commented on #101
I've since gotten rid of the set interval and used lifecycle methods (which is what they are for):
[code]
This is much cleaner.

[2021-03-26 00:57] #101 closed

[2021-03-26 01:31] doriansmiley commented on #102
I've added a simple binding function that uses an observer pattern to trigger the supplied callback whenever a property in an object changes. I don't think this will work for arrays though:
[code]
Fiddle is [here](https://jsfiddle.net/5cgbd3vo/2/).

[2021-03-26 02:09] doriansmiley commented on #102
Next up figure out a proxy for arrays. Some reading material here:
https://stackoverflow.com/questions/45528463/properly-building-javascript-proxy-set-handlers-for-arrays
https://stackoverflow.com/questions/46269032/extending-array-proxy-in-es6-correctly
https://javascript.info/proxy#reflect
https://javascript.info/proxy#proxy-limitations

[2021-04-03 01:22] doriansmiley commented on #102
We need a better data binding mechanism for reactive programming. Consider the following:
[code]
There is no way currently for the multiple listeners to share the same proxy. We need some sort of fan-out strategy. I added multicasting to the event bus so it's possible we could extend bind to register listeners. This process would look something like this:
1. The `bind` function debounces an intern

[2021-04-06 23:48] doriansmiley commented on #102
Observer utils have been created and tests are passing. I opted to create my own debounce mechanism as I needed to produce a last in wins system for each property. IE if I call obj.a = 1 then obj.a = 2 the debounced call only notifies on next with the value of 2. This won't work for all cases where people want notification on every change, but that is what the vent bus is for. The Observer is desi

[2021-04-07 00:38] doriansmiley commented on #102
I'm not sure we need DI in the traditional sense. I'm making sure that all the current util function do not cause side effects, and all state is contained in the closure scope. So this should not require a context boundary or traditional DI system. Plus nothing is class-based. I do think we might need a Model. Some graph of Observers where applications can request a node. For example:
[code]
Then

[2021-04-08 02:06] doriansmiley commented on #102
Let's just use the event dispatcher for DI. Services can `listen({type: 'getSomeObserver'}, (event) => event.payload(something))` and facades can just `emit({type: 'getSomeObserver', payload: (data: someType) => ...doSomething})`. This should just work. Also wrap the callback execution in the payload in `setTimeout`.

[2021-04-08 02:27] doriansmiley commented on #102
added a simple test to show how apps can use the event bus to do decoupled callbacks

[2021-04-08 02:34] #102 closed

[2021-04-08 21:00] #91 closed

[2021-04-08 23:54] doriansmiley commented on #66
What I'm seeing is that anyone who supports the syntax sugar that web components anywhere wants you to implement is using a templating engine to transpile the code. At least a few are using [React's JSX plugin for babel](https://babeljs.io/docs/en/babel-plugin-transform-react-jsx). This leads to larger bundle sizes for the emitted code.  I do like a few use cases though which are:

1. Desctrucring

[2021-04-09 03:53] doriansmiley opened #105 "Create a render util function"
One thing that came up building web components anywhere tests is the need for a render util. Here's what I wrote for WCE:
[code]

[2021-04-09 03:57] doriansmiley commented on #66
I created a forked copy of the repo and create `libraries/lotus`.  I started coding out the component and test under `src`. I left off on `ComponentWithChildrenRerender`. Once all the components are coded out code out the basic test. Then move onto advanced tests.

[2021-04-14 21:30] doriansmiley commented on #66
Four of the basic tests are passing. This is a great setup for using TypeScript with Karma. Open another ticket to port our testing over to this setup.

[2021-04-14 21:58] doriansmiley opened #106 "Support child elements for templates"
Currently, the developer has two options for a component template:
1. External HTML file
2. Template String

We need to offer a third option which is an inline template. To do this we need to update the `ComponentRegistry.register` function by first removing the exception:
[code]
Then updating the `Wrapper` class constructor to look for a child `<template>` element. If none of the three options ar

[2021-04-15 17:57] doriansmiley commented on #66
On second though I don't think I want to implement the typescript setup. Not unless we can include source maps and they actually work. The issue I am having is the tests are really hard to troubleshoot in their emitted state.

[2021-04-16 00:12] doriansmiley commented on #66
Pull request opened: https://github.com/webcomponents/custom-elements-everywhere/pull/1000

[2021-04-16 00:12] doriansmiley commented on #66
I'm going to close this issue as I don't think the project is still active. I can always move people over to my fork if the maintainer does not respond.

[2021-04-16 00:13] #66 closed

[2021-04-16 01:24] doriansmiley opened #107 "Create a sandbox for stackblitz"
Create a Lotus sandbox people can fork. Maybe use the image gallery as an example. They claim you can hook up to repos as well: https://developer.stackblitz.com/docs/platform/importing-projects/. Apparently adding new starter projects is an enterprise-only feature.

[2021-04-16 01:30] doriansmiley commented on #105
Function and test added to release/3.0.1

[2021-04-16 01:30] #105 closed

[2021-04-16 01:32] doriansmiley commented on #94
Not interest in using this for the core code. Could be cool for projects though.

[2021-04-16 01:33] #94 closed

[2021-04-20 01:09] doriansmiley commented on #106
Done.

[2021-04-20 01:09] #106 closed

[2021-04-20 01:15] doriansmiley commented on #92
YAGNI

[2021-04-20 01:15] #92 closed

[2021-04-20 01:53] doriansmiley commented on #107
Done: https://stackblitz.com/edit/lotusjs-components-playground?file=index.html

[2021-04-20 01:53] #107 closed

[2021-04-20 02:19] doriansmiley commented on #69
YAGNI

[2021-04-20 02:19] #69 closed

[2021-04-20 23:33] doriansmiley opened #109 "I need a demo app"
I'd like to record a demo and post it. I want to show how Lotus is different in it's approach so how about the following:

1. Start with the imaginary developer and designer Alice and Bob. Alice has been tasked with programming a new TODOs component. Bob has been tasked with the UX for the component.
2. To kick off the collaboration Alice creates a unit test the defines the component contract as a

[2021-04-22 14:47] doriansmiley opened #110 "Implement Renovate Bot"
https://github.com/renovatebot/renovate

[2021-04-23 02:53] doriansmiley commented on #110
Done. json file was added. Dashboard is att https://app.renovatebot.com/dashboard

[2021-04-23 02:53] #110 closed

[2021-04-24 01:25] doriansmiley opened #120 "Create publisher sample"
I added `example/SSR-server`  with a working Dockerfile. It's successfully rendering at http://localhost:3001/ssr/?url=http://localhost:3000/image-gallery/&selector=lotus-image-gallery. I want to turn it into a fly.io app. They have a sample [here](https://github.com/fly-apps/puppeteer-js-renderer/). Ideally, it will be the first app I deploy under my new architecture. The flow should be:
1. SPA h

[2021-04-24 01:34] doriansmiley commented on #120
Useful links:

1. https://developers.google.com/web/tools/puppeteer/troubleshooting#running_puppeteer_in_docker
2. https://github.com/thomasdondorf/puppeteer-cluster (don't use this, review source and write your own).

[2021-04-29 16:45] dsmileybrainly opened #121 "Create a smart image component"
Role in the info from:
https://www.smashingmagazine.com/2021/04/humble-img-element-core-web-vitals/

[2021-05-04 03:51] doriansmiley commented on #120
Implement `debug`

[2021-05-06 17:03] dsmileybrainly commented on #120
Consider an option to inline images. Update the example to publish to [github pages](https://pages.github.com/).

[2021-05-18 01:55] #120 closed

[2021-05-20 03:17] doriansmiley opened #133 "Error when rendering from Docker"
**Describe the bug**
When rendering a page from Docker the initial render will produce an error when trying to write to the file system.

**To Reproduce**
Steps to reproduce the behavior:
1. `cd examples` and run `npm run docker`.
2. Go to http://localhost:3000/ssr/?url=http://localhost:3000/image-gallery/&selector=lotus-image-gallery
3. Observe the error: `Error: EACCES: permission denied, open '

[2021-05-20 03:21] doriansmiley opened #134 "Error hydrating HTML from Docker container"
**Describe the bug**
When running SSR from the Docker container I am getting an intermittent hydration error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `cd examples` and run `npm run docker`.
2. Go to http://localhost:3000
3. Open dev tools and go to the console tab
3. Click on the image gallery SSR link
4. Try and observe the error.
5. If no error is given click back and then c

[2021-05-20 18:34] doriansmiley opened #135 "Setup a project for StackBlitz Web Containers"
This is a super exciting development from StackBlitz. They have created a node runtime in web assembly! They are calling on open source projects to create a runtime. Get on it!
https://github.com/stackblitz/webcontainer-core/blob/main/Supported_frameworks.md

[2021-05-23 01:25] doriansmiley opened #140 "Implement github actions for CI/CD"
Migrate Travis build script to GitHub actions. Article with instructions [here](https://docs.github.com/en/actions/learn-github-actions/migrating-from-travis-ci-to-github-actions).

[2021-06-03 15:48] dsmileybrainly commented on #121
https://web.dev/lazy-loading-images/

[2021-06-08 00:28] doriansmiley commented on #134
I found the issue. We have a race condition. The registry loads external templates before it registers them:
[code]
In the cases of composite components, the dependent views need to be loaded first. we have a couple of options here. One is to create a queue for tag registration calls. The other would be to retry. Queuing would suck as it delays execution. Retry might be slower though because you'd

[2021-06-08 00:37] doriansmiley commented on #134
I just wrapped the code in a top-level async function and added `await` to the register call. This sucks because it's blocking, but doing a merge queue would suck.

[2021-06-08 00:39] doriansmiley commented on #134
pushed directly to master

[2021-06-08 00:39] #134 closed

[2021-06-08 02:38] doriansmiley commented on #133
added `&& chown -R pptruser:pptruser /usr/app/image-gallery`

[2021-06-08 02:38] #133 closed

[2021-06-08 03:13] doriansmiley commented on #135
I ran into an issue that I filed here: https://github.com/stackblitz/webcontainer-core/issues/171. Webpack would not install. The npm install commands are insanely fast.

[2021-06-08 19:40] doriansmiley commented on #135
The issue above is resolved. Tests are failing though. Not clear why: https://stackblitz.com/edit/node-kg7djp

[2021-07-25 01:05] doriansmiley commented on #135
Tests are passing! I can't run the tests with my bash script. I had to manually run them with `karma test/config/typescript-test-karma.conf.js`.

[2021-07-25 02:04] doriansmiley commented on #135
PR issues https://github.com/stackblitz/webcontainer-core/pull/262

[2021-07-25 02:05] #135 closed

[2021-08-30 09:04] renovate opened #170 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/doriansmiley/lotusJS).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

## Rate-L

[2021-09-01 00:07] doriansmiley commented on #140
Implemented

[2021-09-01 00:07] #140 closed

[2021-09-01 01:14] doriansmiley opened #173 "Add support for style sheet modules"
Add support for creating components with css module scripts. Chrome 93 added support for css module scripts using the following syntax:
[code]
You can read more [here](https://developer.chrome.com/blog/new-in-chrome-93/#css-modules). I'd like to add the ability to pass the imported module in the tag definition like so:
[code]
Then when the component is being registered in `ComponentRegistry.ts` ch

[2021-09-21 17:38] dsmileybrainly opened #182 "Look into Thinkster"
They have a really good course catalog. https://thinkster.io/

[2021-12-10 01:32] doriansmiley opened #199 "Data loaders need to expose parameters"
Data loader functions need to receive req parameters and post data. This likely means the `ssr` function should be refactored to:
[code]
In order to scope the req parameters we need a HOF:
[code]
Then is `ssr.js` we can:
[code]

[2021-12-14 03:49] doriansmiley opened #204 "Evaluate using Deno vs. Snowpack for es modules"
Deno supports targeting [deno and the browser](https://deno.land/manual@main/typescript/configuration#targeting-deno-and-the-browser). Try setting up a new branch off master with deno support. The `improve_examples` has snowpack configured to compile esm modules which are used in the new `esm` example. I'd prefer to just compile with deno and publish through deno.

[2021-12-18 16:55] doriansmiley opened #206 "Improve SSR"
The current solution is FUBAR and hard to follow. Simplify as follows:

We need to clean this method of waiting for the page to render. Passing a selector isn't realistic:
[code]
We should have a way to interact with the component registry and get all custom tags and wait for all shadow roots to be rendered.

1. Add ` await page.exposeFunction('isSSR', () => true);` to `ssr.js.` Refactor register

[2021-12-18 22:25] doriansmiley commented on #206
I found a bug in ComponentRegistry.ts line 35: `const shadowRoot = document.querySelector(tagDef.tagName)?.shadowRoot;`. The tag name is not rendered for item view. For example `lotus-image-view` does not wrap list item:
[code]
Semantically this makes sense IMO. It doesn't seem to matter for collection components since they have their own hydration mechanism.

[2021-12-18 22:38] doriansmiley commented on #206
The issue above is resolved with:
[code]

[2021-12-18 22:38] doriansmiley commented on #206
One issue with the current solution is that the `window.isSsr` function needs to return false on page load.

[2021-12-31 00:09] doriansmiley commented on #206
I removed all the `ssr` and `hrdrate` globals.  I'm able to determine both from checking whether or not the shadow root exists. The branch is `git push --set-upstream origin 206_improveSSR`

[2021-12-31 00:19] doriansmiley commented on #206
PR merged

[2021-12-31 00:19] #206 closed

[2022-06-29 21:48] dsmileybrainly commented on #204
Also checkout Vite : https://vitejs.dev/.

[2022-07-08 15:28] dsmileybrainly opened #252 "Create a Bun demo"
This looks very promising as a runtime for native web apps! "TypeScript just works"!
- https://github.com/Jarred-Sumner/bun
- https://bun.sh/

[2022-10-07 17:27] dsmileybrainly opened #256 "Explore using webc with Lotus components"
The compiler looks pretty agnostic but would require some semantics in the HTML. It's brilliant because the output is fully serialized HTML, which could solve a lot of hydration problems (I think).
https://github.com/11ty/webc